@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather&subset=latin-ext');

/* ================ Változók ================ */
:root {
    --main-text-color: hsl(0, 0%, 90%);
    --main-bg-color: hsl(0, 0%, 20%);
}

/* ================ Változók vége ================ */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;; 
}

/* ================ menü ================ */

ul {
    z-index: 100;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0;
  }
  
  ul li{
    list-style: none;
    padding: .8rem 0;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;
    padding: .5rem;
    transition: .2s;
    color: var(--main-text-color);
  }

  #menu-panel {
      background-color: var(--main-bg-color);
      display: none; 
  }

  @media (min-width: 768px) {
    ul {
      flex-direction: row;
    }
  
    ul li {
      padding: .8rem 3vw;
    }
  }

/* ================ menü vége ================ */

/* ================ menü keret effekt ================ */
ul li a span:first-child:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 12px;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: .2s;
    opacity: 0;
  }
  
  ul li a span:first-child:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 12px;
    width: 8px;
    height: 8px;
    background: transparent;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: .2s;
    opacity: 0;
  }
  
  ul li a span:last-child:before {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 12px;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transition: .2s;
    opacity: 0;
  }
  
  ul li a span:last-child:after {
    content: '';
    position: absolute;
    bottom: 15px;
    right: 12px;
    width: 8px;
    height: 8px;
    background: transparent;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: .2s;
    opacity: 0;
  }
  
  ul li a:hover span:first-child:before {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  
  ul li a:hover span:first-child:after {
    top: 0px;
    right: 0px;
    opacity: 1;
  }
  
  ul li a:hover span:last-child:before {
    bottom: 0px;
    left: 0px;
    opacity: 1;
  }
  
  ul li a:hover span:last-child:after {
    bottom: 0px;
    right: 0px;
    opacity: 1;
  }

  .active>a span:first-child:before {
    top: 0px;
    left: 0px;
    opacity: 1;
    border-color: var(--main-full-color);
  }

  .active>a span:first-child:after {
    top: 0px;
    right: 0px;
    opacity: 1;
    border-color: var(--main-full-color);
  }
  
  .active>a span:last-child:before {
    bottom: 0px;
    left: 0px;
    opacity: 1;
    border-color: var(--main-full-color);
  }
  
  .active>a span:last-child:after {
    bottom: 0px;
    right: 0px;
    opacity: 1;
    border-color: var(--main-full-color);
  }

  /* ================ menü keret effekt vége ================ */